/*Seletor Lateral*/

/*Espaço iPhone*/

#iphone{
    width: 320px;
    height: 568px;
}

/*Botão*/
.toggle-input{
    display: none;
}
.toggle-input:checked + .toggle-control:after{
    left: 22px;
}
.toggle-input:checked + .toggle-control{
    transition:  .4s;
    background-color: #4cd964;
    border-color: #4cd964;
}
.toggle-control:after{
    content: "";
    width: 22px;
    height: 22px;
    display: block;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.3);
    position: relative;
    top: 0;
    left: 0;
}
.toggle-control{
    transition:  .4s;
    width: 44px;
    height: 22px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 22px;
}

/*Marcações comuns*/

.mark,
.seletor{
    width: 100%;
    height: 44px;
    background: #f7f7f7;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

/*Caixa de seleção*/

.seletor span{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    float: left;
    margin: 9px 8px;
}
.seletor div{
    float: right;
    margin: 10px 8px;
}
/*Fim Seletor Lateral*/

/*Marcador*/

.mark-input{
    display: none;
}
.texto{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 9px 8px;
    float: left;
}
.icone{
    color: #157dfb;
    margin: 9px 22px 9px 8px;
    float: right;
    font-size: 22px;
    opacity: .0;
}
.mark-input[type=checkbox]:checked ~ .icone {
   opacity: 1;
}
/*Fim Marcador*/
